<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{fragments/layout :: layout (~{::body},'index')}">

<body>

<div class="jumbotron text-center">
  <div class="container">
  
    <a href="/" class="lang-logo">
      <img src="/lang-logo.png">
    </a>
    <h1>RAZI HAHAHAHHAAHA</h1>
    
    <a type="button" class="btn btn-lg btn-default" href="Signup.html"> Sign Up</a>
    <a type="button" class="btn btn-lg btn-primary" href="Home.html"> Login</a>
	
	<input type="text" id="myInput1" placeholder="Username">
					<input type= password id="myInput2" placeholder="Password">
	
  </div>
</div>


</body>
</html>
