<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org" th:replace="~{fragments/layout :: layout (~{::body},'error')}">

  <body>
					<input type="text" id="myInput1" placeholder="Username">
					<input type= password id="myInput2" placeholder="Password">
					<input type= password id="myInput3" placeholder="Confirm Password">
					
					
					<button onclick = "myFunction5()" href = "Home.html"> SignUp </button>	
					
					<script>
					function myFunction5() 
					{


							
					}
					</script>



  </body>

</html>
